.tab{
    display: flex;
}

.tab-menu{
    width: 144px;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
}

.tab-menu.is-active{
    background-color: blueviolet;
    color: white;
}

.content-box{
    margin-top: 20px;
    display: none;
    background-color: white;
    height: 500px;
    width:50%;
}

.content-box.is-active{
    display: block;
}

.table{
    width: 90%;
}