{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon限定の商品の検索</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  </head>
<body>
    <section class="section">
      <h1 class="title">Amazon限定の商品の検索</h1>
      <div class="columns">
          <div class="column">
            <article class="message">
              <div class="message-body">
                <span id="message">キーワードを入力してください</span>
              </div>
            </article>
          </div>
      </div>

      <div class="columns">
        <div class="column">
          <input type="text" size="50" id="input_form">
          <button type="button" onclick="clickBtn()">送信</button>
        </div>
      </div>

      <div class="tab">
        <p class="tab-menu is-active">アマゾン限定</p>
        <p class="tab-menu">Amazon.co.jp限定</p>
        <p class="tab-menu">アマゾンのブランド</p>
      </div>

      <div class="content-box is-active">
        <div class="columns">
          <div class="column">
            <table id="csv_data_table" class="table table-bordered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>title</th>
                  <th>price</th>
                  <th>image</th>
                </tr>
                {% for item in amazon_only_goods%}
                <tr>
                  <td>{{ item.id}}</td>
                  <td><a href="{{item.link}}">{{item.title}}</a> </td>
                  <td>{{ item.price}}</td>
                  <td><img src="{{item.image}}"></td>
                </tr>
                {% endfor %}
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="columns">
          <div class="column">
            <table id="csv_data_table" class="table table-bordered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>title</th>
                  <th>price</th>
                  <th>image</th>
                </tr>
                {% for item in amazon_domain_only_goods%}
                <tr>
                  <td>{{ item.id}}</td>
                  <td><a href="{{item.link}}">{{item.title}}</a> </td>
                  <td>{{ item.price}}</td>
                  <td><img src="{{item.image}}"></td>
                </tr>
                {% endfor %}
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="columns">
          <div class="column">
            <table id="csv_data_table" class="table table-bordered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>title</th>
                  <th>price</th>
                  <th>image</th>
                </tr>
                {% for item in amazon_only_brand%}
                <tr>
                  <td>{{ item.id}}</td>
                  <td><a href="{{item.link}}">{{item.title}}</a> </td>
                  <td>{{ item.price}}</td>
                  <td><img src="{{item.image}}"></td>
                </tr>
                {% endfor %}
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'polls/tab.js'%}"></script>
<script>
function clickBtn() {
var txt = document.getElementById("input_form").value;
$.ajax({
  url: "{% url 'amazonBrowse:update_db' %}",
  method: 'GET',
  data: {"input_data": txt},
  dataType: "text",
  contentType: "application/json",
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrf_token);
    }
  },
  error: function(xhr, status, error) {
    console.log("error")
  }
})
.done(function(data){ 
location.reload()
})   
// csrf_tokenの取得に使う
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// ヘッダにcsrf_tokenを付与する関数
function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};

}
</script>
</body>
</html>